#Dependencies
/node_modules
/server/node_modules
/ai_agent/venv

# Environment Variables
# Ignore all .env files in the project
.env
server/.env
ai_agent/.env

# Production build folder
/build

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*